# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
*.env

# Virtual environments
venv/
env/
.venv/

# Encrypted/decrypted files
uploads/
*.enc
*.txt

# AWS credentials (if used locally)
.aws/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
